//background and blur palette
$backgroundColor: rgb(0, 4, 15);
$backgroundGray: rgb(44, 47, 53);
$blurColor: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);

//Color Palette     ==> tailwind.config.js
$primary: #00040f;
$secondary: #00f6ff;
$dimWhite: rgba(255, 255, 255, 0.7);
$dimBlue: rgba(9, 151, 124, 0.1);

//button gradient
$buttonColor: linear-gradient(
  157.81deg,
  #def9fa -43.27%,
  #bef3f5 -21.24%,
  #9dedf0 12.19%,
  #7de7eb 29.82%,
  #5ce1e6 51.94%,
  #33bbcf 90.29%
);

//text gradient
$textColor: radial-gradient(
  64.18% 64.18% at 71.16% 35.69%,
  #def9fa 0.89%,
  #bef3f5 17.23%,
  #9dedf0 42.04%,
  #7de7eb 55.12%,
  #5ce1e6 71.54%,
  #33bbcf 100%
);

//vedere color palette, poi cancellare
$white: rgba(255, 255, 255, 0.7);

.text-blue {
  background: $textColor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.blur-color {
  background: $blurColor;
  filter: blur(123px);
}

//GRADIENTS

$blue__gradient: linear-gradient(
  180deg,
  rgba(188, 165, 255, 0) 0%,
  #214d76 100%
);
$pink__gradient: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
$white__gradient: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 0.6) 100%
);

$blue__blur: blur(123px);
$pink__blur: blur(900px);
$white__blur: blur(750px);

//GRADIENTS
/*@mixin blue__gradient {
  background: $blue__gradient;
  filter: $blue__blur;
}

@mixin pink__gradient {
  background: $pink__gradient;
  filter: $pink__blur;
}

@mixin white__gradient {
  background: $white__gradient;
  filter: $white__blur;
}*/
