
.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $backgroundColor;
  color: white;
  font-size: 4rem;
  overflow-x: hidden;
  margin-top: 2rem;

  &__content {
    display: flex;
    width: 100%;
    max-width: $desktop;

    @media screen and (max-width: $desktop) {
      padding: 0 1.5rem;
    }

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__left {
    flex: 1;
  }

  &__right {
    position: relative;
    @extend .fade-from-right;

    > img {
      position: relative;
      width: 100%;
      z-index: 1;
    }
  } 
  

  &__image-background {
    width: 100%;
    height: 100%;
    @extend .blur-color;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    @extend .fade-from-left;
    font-size: 7.2rem;

    @media screen and (max-width: $desktop) {
      font-size: 3.6rem;
    }

    &-highlight {
      @extend .text-blue;
    }
  }

  &__text{
      font-size: 1.8rem;
      color: $white;
      font-weight: normal;
      line-height: 3.1rem;
      max-width: 470px;
      margin-top: 2rem;

      @media screen and (max-width: $desktop) {
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
  }

  &__right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; // adjust based on your specific scale
    margin-bottom: 1rem; // adjust based on your specific scale
    position: relative;
  }

  &__image{
    width: 100%;
    position: relative;
    z-index: 5;
  }
    /*&-background-1 {
    position: relative;
    width: 40%;
    height: 35%;
    top: 0;

    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      background: $pink__gradient;
      z-index: -1;
    }*/



    /*&-background-2{
      position: relative;
      z-index: 1;
      width: 80%;
      height: 80%;
      border-radius: 50%; // assuming "rounded-full" means a circle
      bottom: 40px; // assuming "bottom-40" means 40px
      
      &::before{
        content: "";
        position: absolute;
        top: -50%; 
        left: -50%; 
        right: -50%; 
        bottom: -50%; 
        @extend .white__gradient;
        z-index: -1;
        border-radius: 50%;
      }  
    }

    &-background-3{

    }*/
}