//EQUIVALENT OF STYLES.JS
// Define a .boxWidth class that sets the width to full, but restricts maximum width to 1280px on xl screens.
.boxWidth {
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
  width: 100%;
}

// Define a .heading2 class with the Poppins font, white color, and different sizes for xs screens and others.
.heading2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;

  @media screen and (min-width: 480px) {
    font-size: 48px;
    line-height: 76.8px;
  }

  font-size: 40px;
  line-height: 66.8px;
  width: 100%;
}

// Define a .paragraph class with the Poppins font, a certain size, line height, and dim white color.
.paragraph {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: #717171;
  font-size: 18px;
  line-height: 30.8px;
}

// Define a .flexCenter class for flexbox elements centered both vertically and horizontally.
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Define a .flexStart class for flexbox elements vertically aligned to the start and horizontally centered.
.flexStart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// Define .paddingX and .paddingY classes for different horizontal and vertical padding on sm screens and others.
.paddingX {
  @media screen and (min-width: 640px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  padding-left: 6px;
  padding-right: 6px;
}

.paddingY {
  @media screen and (min-width: 640px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  padding-top: 6px;
  padding-bottom: 6px;
}

// Define a .padding class that applies both horizontal and vertical padding.
.padding {
  @include paddingX;
  @include paddingY;
}

// Define .marginX and .marginY classes for different horizontal and vertical margins on sm screens and others.
.marginX {
  @media screen and (min-width: 640px) {
    margin-left: 16px;
    margin-right: 16px;
  }
  margin-left: 6px;
  margin-right: 6px;
}

.marginY {
  @media screen and (min-width: 640px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  margin-top: 6px;
  margin-bottom: 6px;
}
